body{
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
    }
  .App{
  
    display:Grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    
  }

  .home-main{
    display: flex;
     height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('./asset/mount1.jpg');
    background-repeat: no-repeat;
    background-size:cover;

  }

  .about{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr ;
    
  }