.user{
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: palevioletred;
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
 
}